[submodule "vendor/Janus-Fundamentum"]
	path = vendor/Janus-Fundamentum
	url = https://github.com/Hawkar-usls/Janus-Fundamentum.git
[submodule "vendor/janus-meta-registry"]
	path = vendor/janus-meta-registry
	url = https://github.com/Hawkar-usls/janus-meta-registry.git
